<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>vg-chat</title>

    <link rel="stylesheet" href="./static/style.css">

</head>
<body>
<div class="container">

    <img id="num_server" src="">

    <div class="box">
        <h1>Vg-Chat</h1>
        <div class="chatbox"></div>
        <div class="btns">
            <form>
                <input class="btn_nome" type="text" placeholder="nome">
                <input class="btn_text" type="text" placeholder="mensagem">
                <button type="submit">enviar</button>
            </form>
        </div>
    </div>

    <div>
        <div id="animation-container" class="animation"></div>
        <div id="animation-container1" class="animation"></div>
        <div id="animation-container2" class="animation"></div>
    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.10/lottie.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"></script>
<script src="./static/script1.js"></script>

</body>
</html>
